# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***

- List popular languages for Data Science
- List of common libraries used in Data Science
- List of development environment for the Data Science
- Some examples of arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Scala
2. Java
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matpolib

|Data Science Tools|
|-------|
|Jupyter|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author:
Patrick NGUETSENG